<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text as colors</title>

    <script>
        document.getElementById("p2").style.color = "green";
    </script>

</head>
    <body>
        <form id="pasteBox" action="/paste" method="post">
            <input type="text" name="document"/>
            <br/>
            <button type="submit">Submit text</button>
        </form>

        <div>
            Word : Hex color value

            <p id="p2">
                {{#results}}
                {{text}} : {{value}}</br>
                {{/results}}
            </p>

        </div>
    </body>
</html>