<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text as colors</title>

</head>
    <body>
        <form id="pasteBox" action="/paste" method="post">
            <input type="text" placeholder="text" name="document"/>
            <br/>
            <select name="conversion">
                <option selected disabled>Number system</option>
                <option value="Decimal">Decimal</option>
                <option value="Binary">Binary</option>
                <option value="Octal">Octal</option>
                <option value="Hex">Hex</option>
            </select>
            <button type="submit">Submit text</button>
        </form>

        <div>
            Word : Color value

            <p>
                {{#results}}
                <span class="changedColor" style="color: #{{value}}">
                {{text}} : {{value}}</br>
                </span>
                {{/results}}
            </p>

        </div>
    </body>
</html>