<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text as colors</title>

</head>
    <body>
        <form id="pasteBox" action="/paste" method="post">
            <input type="text" placeholder="text" name="document"/>
            <br/>
            <button type="submit">Submit text</button>
        </form>

        <div>

            <p>
                {{#results}}
                <span class="changedColor" style="color: #{{asciiValue}}">
                    <p>
                        Word: {{text}}</br>
                        Ascii: {{asciiValue}}</br>
                        Binary: {{binaryValue}} </br>
                        Octal: {{octalValue}}</br>
                        Hex: {{hexValue}}</br>
                    </p>
                </span>
                {{/results}}
            </p>

        </div>
    </body>
</html>